@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.journey.past {
    opacity: 0.5;
}
.express-icon {
    display: inline-flex;
    align-items: center;
    margin-right: 6px;
    color: #111827;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div.trip {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 100px;
    line-height: 40px;
    width: 300px;
    height: 40px;
    background: #fb4f14;
    color: #fff;
}

p {
    display: block;
    color: black;
    line-height: 10px;
    width: 100%;
}

.bold {
    display: inline;
    border-radius: 9px;
}

.bold.red {
    background-color: red;
}

.bold.yellow {
    background-color: orange;
}

.bold.green {
    background-color: #00b092;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
}

.slider {
    position: absolute;
    inset: 0;
    background-color: #ccc;
    border-radius: 26px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: hotpink;
}

input:checked + .slider::before {
    transform: translateX(24px);
}

/* trip highlight */
.trip.pink {
    background-color: hotpink;
}